body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    margin: 30px;
}

label,
input,
textarea {
    display: block;
}

input,
textarea {
    margin-bottom: 10px;
}

div#chat span#empty-email-error {
    color: red;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

div#chat span.chat-email-color {
    color: green;
    font-weight: bold;
}

div#chat span.fecha-hora {
    color: red;
}

div#chat-mensajes {
    max-height: 400px;
    max-width: 50vw;
    overflow-y: scroll;
}